@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "Cleancode"; }

<div>
    <textarea readonly class="tituloAreaCodigo">
       Clean Code - Código limpo
    </textarea>

    <p class="areaTexto">
         Clean Code é um conjunto de boas práticas de codificação de forma a manter o código legível, claro e escalável.<br />

        Um código limpo contribui para a melhor interpretação do desenvolvedor, facilita o entendimento quando se torna legível.
        É preciso ter em mente que o código nunca necessariamente será desenvolvido somente por um programador, outros podem vir
        ao longo da existência do código, há sempre refatoração de código.<br />
        <br />
        Manter boas práticas não só contribui para a clareza como também com a escalabilidade do software para alcançar um crescimento
        bem planejado.
        Entende-se por boas práticas a adoção de nome de classe, objetos, métodos de forma simples, direta, clara para o leitor. <br />
        Boa prática também é reduzir ao máximo comentários no corpo do código pois um código bem escrito dispensa comentários na maioria das vezes.
        Na metodologia de qualidade de software temos o TDD (Test Data Driven - Desenvolvimento Orientado à Testes) que realiza testes em cada
        linha do código para validação.<br />
        <br />

        Como meu objetivo não é elaborar um curso ou tutorial, neste portólio mensuro apenas as noções que venho obtendo nos últimos tempos
        Uma vez que minha formação como desenvolvedor independente vem acontecendo há mais de 35 anos e sem este conceito de Clean Code hoje
        me vejo na necessidade de contruir com Clean Code em novas experiências. <br />
        <br />
        Vou continuar estudando as 7 principais regras do Clean Code.
        <br />
        <br />
        Mias um bom conceito para somar !
        <br />
        <br />



    </p>
</div>