@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "Cloud"; }

<div>
    <textarea readonly class="tituloAreaCodigo">
       Cloud - Azure / AWS / Google 
    </textarea>

    <p class="areaTexto">
        Cloud computing, ou computação em nuvem, é um serviço de computação baseado na internet.<br /> 
        Diversos são os tipos de serviços disponibilizados como recursos de TI sob demanda, armazenamento 
        de dados, redes, aplicações compartilhadas, tudo pela nternet, em qualquer lugar e independente 
        de plataforma, sem ter que investir em equipamentos necessariamente.<br />
        <br />
        Os serviços em numvem são custeados conforme demanda e uso, alguns serviços e categorias são gratuitas,
        experientais, de acesso à todos.<br />
        <br />
        As demandas podem ser ajustadas conforme necessidade e só é pago o que usa. Máquinas virtuais,
        Armazenamento de dados, Backups são exemplos de serviços.<br />
        <br />
        Com a velocidade das tecnologias as mudanças nas demandas precisam constantemente de ajustes não só por 
        conta de custos mas também para minimizar esforços e ganhar tempo.<br />
        <br />
        O AWS da Amazon WEb Service, Azure da Microsoft e Google Cloud são as plataformas em nuvem mais utilizadas. <br />
        <br />
        Cada qual com suas características e serviços, muitas comuns às três, qualquer solução pode ser encontrada em no mínimo uma delas.<br />
        <br />
        Na nuvem encontramos os tipos de nuvem pública, privada ou híbrida e também modelos de serviços como o Infraestrutura, Plataforma e Software.<br />
        <br />
        Uma verdadeira bandeja de opçoes de soluções em nuvem para todo tipo de negócio e seguimento.<br />
        <br />
        <br />


        
</div>