@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "Core"; }

<div>
    <textarea readonly class="tituloAreaCodigo">
       AspNet Core / Net 5
    </textarea>

    <p class="areaTexto">
        A Microsoft propôs uma unificação da plataforma .Net com um stack amplo de desenvolvimento para todas as plataformas
        como Windows, Linux e Mobile, ou seja, uma plataforma cruzada.<br />
        <br />

        O Net 5 é uma evolução do ecosistema .Net open source que entrega tudo desenvolvido numa determinada plataforma para
        outra qualquer sem a necessidade de redesenvolver. Reduçao de custos, otimização, ganho de tempo dentre outros benefícios
        contribuem e muito com os processos de negócios das empresas de desenvolviemnto.<br />
        <br />
        Quanto à migração de sistemas em plataformas anteriores para Net core/net 5/Net 6 é preciso análisar todos os processos de viabilidade.<br />
        <br />
        E a Microsoft não parou por aí, o Net 6 já está entre nós oferecendo recursos nativos de dispositivos.
        O MAUI (Interface do Usuário de Aplicativo multiplataforma do .NET) oferece estruturas para desenvolvimento
        mobile e desktop com c# e XML; é o Net 6 Xamarin. <br />
        <br />
        Para novos sistemas optar por Net5 ou mesmo Net6 pode ser a melhor escolha.<br />
        <br />
        Este portfolio foi desenvolvido em Net 5. com MVC.<br />
        <br />

        Salve a evolução !!!
        <br />
        <br />
    </p>
</div>