@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "CriacaoBanco"; }

<div>
    <textarea readonly class="tituloAreaCodigo">
       Banco de dados Sql Server - Criação de banco
    </textarea>

    <p readonly class="areaTexto">
        Sempre tive a preocupação de armazenar dados de forma a valorizar sua persistência com segurança afinal dados geram
        informações que passam a ter sentido prático.
        A persistência de dados começa na criação de um banco de dados que será o repositório de dados dos nossos negócios.
        No MS Sql server a criação de banco através de instrução T-SQL é dada ela seguinte script : <br /><br />
        <span style="color:blue">
            - CREATE DATABASE BDClientes<br />
            - GO
        </span><br /><br />
        Desta forma estamos criando o banco BDClientes no Sql server.
</p>
</div>