@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "DevOps"; }

<div>
    <textarea readonly class="tituloAreaCodigo">
       Cultura DevOps
    </textarea>

    <p class="areaTexto">
        Derrubando o tradicional muro que separa o Desenvolvimento e Operações nasce o DevOps, uma cultura
        que proporciona as empresas distribuirem seus softwares de forma mais rápida e contínua.<br />
        <br />
        A engenharia de software procurando minimizar os conflitos entre os dois departamentos 
        (Desenvolvimento e Operações) definiu uma cultura que integrasse os dois times para 
        aumentar a qualidade e reduzir prazos e custos.<br /> 
        <br />
        Entrega Contínua e Interação Continua (CD/CI) são os pilares de sustentação desta cultura
        que beneficia os ambientes de desenvolvimento, homologação e produção.<br /> 
        <br />
        <br />
    </p>
</div>