@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "EntityFrameWork"; }

<div>
    <textarea readonly class="tituloAreaCodigo">
       EntityFrameWork
    </textarea>

        <p readonly class="areaTexto">
           Esta ferramenta foi muito importante para mapear modelo relacional das entidades dos meus projetos (ORM).
           Com um nível alto de abstração das tabelas de dados podemos criar um ambiente de dominio como objetos e 
           propriedades sem se preocupar com os modelos físicos do banco.

           As classes ADO oferece diversos recursos de conexão de dados através de várias fontes e nos meus projetos utilizei 
           o provedor de dados SQlClient e a classe Sqlcommand para manipulação de dados.

        </p>
</div>}
