@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "Github"; }

<div>
    <textarea readonly class="tituloAreaCodigo">
       Versionamento de código - Git/Github
    </textarea>

    <p class="areaTexto">
        O cotidiano dos desenvolvedores é constantemente ficar criando atualizações em seus projetos.<br />
        A atualização de versões através de correção de bugs, novas funcionalidades, melhorias podem ser 
        gerenciadas por uma software de controle de versão (CVS).<br />
        <br />
        O git é um software livre de controle de versão (versionamento de código) onde os desenvolvedores
        sobem para o repositório todas as alterações realizadas na versão.<br />
        É possível, se necessário, reverter código para a versão estável graças ao histórico de eventos do Git.<br />
        <br />
        Github é uma plataforma de hospedagem dos projetos Git gratuíta, em nuvem, podendo ser de compartilhamento público ou privado.<br />
        <br />

    </p>
</div>