@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "Microservicos"; }

<div>
    <textarea readonly class="tituloAreaCodigo">
       Arquitetura de Microserviços
    </textarea>

    <p class="areaTexto">
        O forte acoplamento determinado nas arquiteturas monolíticas engessam todos os processos e quando
        um determinado processo renderizar em alta demanda todos os outros processos são afetados.<br />
        <br />
        Os monolítos podem comprometer a disponibilidade pelo alto acoplamento.<br />
        <br />
        Novas funcionalidades nos aplicativos só enriquecem este cenário de complexidade.<br />
        <br />
        Pensando em enfraquecer este acoplamento e por consequência minimizar os efeitos de
        uma falha, a arquitetura de Microserviços aparece como solução muito utilizada por empresas.<br />
        <br />
        A arquitetura de Microsistemas propõe criar componentes separados e independentes que são executados 
        como serviços através de API´s.<br />
        <br />
        Aqui também me faz lembrar o princío SOLID da responsabilidade única pois cada componente de microserviço 
        se responsabiliza somente pelo seu processo sem impactar outros.<br />
        Microserviços oferecem maior escalabilidade, fácil implementação e produtividades concorrentes responsáveis,
        entre outros benefícios.<br />
        <br />
        Mais uma tecnologia para meu cardápio autodidata de estudos.
        <br />
        <br />
    </p>
</div>
