@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "NetframeWork"; }

<div>
    <textarea readonly class="tituloAreaCodigo">
      .Net FrameWork
    </textarea>

        <p readonly class="areaTexto">
            Com os recursos oferecidos pela tecnologia .NET Framework como gerenciamento de memória e verificação 
            de código seguro pelo runtime (CLR) torna o ambiente de desenvolvimento consistente e gerenciado.
            Em meus projetos a programação sempre foi produtiva, compilação rápida sem contar com os recursos de 
            reaproveitamento de código inclusive de terceiros, bibliotecas de classes próprias derivadas das nativas.
            Utilizando o Visual studio 2017 e 2019 por muito tempo fui me acostumando com este framework que junto
            à diversas ouros recursos da platafroma .Net fornece ambiente satisfatório de desenvolvimento.

        </p>
</div>}
