@model IEnumerable<Projeto>

@{ ViewData["Title"] = "Projetos"; }

<div class="container">
    <h1>Projetos Desenvolvidos</h1>
    <img src="~/imagens/Diagrama1_erp_condominio.png" />
    <img src="~/imagens/Diagrama1_erp_clinica.png" />
    <img src="~/imagens/Cliente_servidor.png" />

    <img src="~/imagens/sgcr_criar_rateios.png" />

</div>

<!--<partial name="_Projetos" model="Model" />  VISITAR-->
