@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "ScrumKanban"; }

<div>
    <textarea readonly class="tituloAreaCodigo">
       Scrum Metodologia de projetos Ágil
       Kanban - Método de organização de tarefas
    </textarea>

    <p class="areaTexto">
        Vários são os métodos usados para fazer gestão de projetos e de produtividade nas empresas de desenvolvimento de software.<br />
        <br />
        Scrum é uma metodologia ágil que contribui na organização de tarefas em equipes de desenvolvimento.<br />
        Utilizado em projetos mais complexos obedecendo os 12 princípios do manifesto ágil propõe entregas mais rápidas e contínuas.<br />
        Sprints tendem a gerar softwares com qualidade e tempo reduzido sob o gerenciamento deste método.<br />
        <br />
        <br />
        Kanban é um sistema de gestão visual para controlar tarefas e fluxos de trabalho, através da utilização de colunas e cartões, facilitando a gestão das atividades.<br />
        <br />
        Kanban não é uma metodologia ágil e sim um método estratégico na otimização de tarefas.<br />
        <br />
        Muitas empresas utilizam de Scrum e Kanban juntos para melhor estruturar todo ambiente de linha de 
        montagem (lembra o Sistema Toyota de Produção) de produção de software.<br />
        <br />
        <br />



    </p>
</div>}
