@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "Solid"; }

<div>
    <textarea readonly class="tituloAreaCodigo">
       Princípios S.O.L.I.D.
    </textarea>

    <p  class="areaTexto">
        A Programação Orientada a Objetos - POO, tráz em si 5 princípios de desenvolvimento de software que contribuem com sua manutenção e sustentação.<br />
        Estes princípios ajudam na construção de códigos limpos (Clean Code), responsabilidades únicas, refatoração fácil, fraco acoplamento e reaproveitamento de código.<br />
        
        Pretendo também em novas experiências aplicar estes princípios em conexão com Clean Clode.<br />
        
        Quando desenvolvo com o projeto MVC me lembro do princípio SOLID chamado de responsabilidade única que estabelece única responsabilidade no que se propõe, se limitar unicamente à tarefa.<br />
        Utilizar interfaces na manutenção de métodos evita bugs pois não está alterando a classe original. Este é outro princípio muito interessante, princípio Aberto-Fechado, quando uma classe deve ser
        antes fechada e depois ser estendida como interface.<br />
        <br />

        Enfim, estudar e praticar cada vez mais estes princípios produz qualidade, elegancia, clareza, otimização e escalabilidade garantida.<br />
        <br />
        <br />

        
    </p>
</div>}
